@import 'variable.scss';

.Headline {
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $black;

    &:visited {
        color: #ccc;
    }

    &:hover {
        color: $red;
    }
}

.DropDownButton {
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

.DropDownContent {
    font-style: italic;
    color: #aaa;
    margin: 1rem 0;
}

.container {
    display: grid;
    grid-template-columns: auto 1rem 1rem;
    column-gap: .5rem;
    box-sizing: border-box;
    padding-bottom: .5rem;
    border-bottom: 1px solid $mint;
}
