.Search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.searchBar {
    width: 90%;
    background-color: inherit;
    color: #eee;
    border: 0;
    height: 70%;
}

::placeholder {
    font-style: italic;
}