@import 'variable.scss';

.User {
    form {
        width: 90vw;
    }
    & > button {
        display: block;
        margin-left: auto;
        color: $mint;

        &:hover {
            text-decoration: underline;
        }
    }
}