@import 'variable.scss';
.DropDown {
    border-left: 2px solid $mint;
    padding-left: 1rem;
    color:darken($color: #aaa, $amount: 20%);

    & > * {
        margin-bottom: .5rem;

        &:hover {
            color: $black;
        }
    }
}