@import 'variable.scss';
.HamburgerMenu {
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    cursor: pointer;

    .line {
        border-radius: 5px;
        height: .3rem;
        background-color: $white;
        width: 2rem;
    }
}



@media screen and (min-width: 768px) {
    .HamburgerMenu {
        display: none;
    }
}