@import "variable.scss";

.Footbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4rem;
    background-color: $white;
    box-shadow: -2px 0 5px #eee;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    li {
        display: flex;
        justify-content: center;
        align-self: center;
        display: flex;
        flex-flow: column;

        img {
            height: 2rem;
            width: 2rem;
        }

        a {
            color: $black;
            
            &.active,
            &:hover {
                color: $red;
                font-weight: bold;
            }
        }
    }
}
