@import "variable.scss";

.Form {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 30rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 2px solid $mint;

    h1 {
        margin: 0 auto 1.5rem auto;
        color: $red;
        text-transform: capitalize;
    }

    button {
        margin: 1rem auto 0 auto;
        color: $mint;
        transition: all 0.3s ease;
        padding: 0.5rem 1rem;
        border-radius: 2px;

        &:focus,
        &:hover {
            background-color: $mint;
            color: $white;
        }

        &+span {
            margin-left: auto;
        }
    }
}
